version: '3'

services:

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./a_core:/a_rchat
      - media_file:/app/media
      - static_files:/app/staticfiles
    ports:
      - "8080:8080"
    depends_on:
      - db

  worker_channels:
    build: .
    command: python manage.py runworker
    volumes:
      - ./a_core:/a_rchat
    links:
      - redis

  channels:
    build: .
    command: daphne -b 0.0.0.0 -p 8001 a_core.asgi:channel_layer
    volumes:
      - ./a_core:/a_rchat
    ports:
      - "8001:8001"
    links:
      - redis

  db:
    image: postgres:16
    env_file:
      - .db.env

  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped

  nginx:
    build: ./nginx
    ports:
      - 80:80
    volumes:
      - media_file:/app/media
      - static_files:/app/staticfiles
    depends_on:
      - web
  celery:
    build: .
    command: celery -A a_core worker -l INFO
    restart: unless-stopped
    depends_on:
      - web
      - redis
  flower:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '5555:5555'
    command: "celery -A a_core flower --address=0.0.0.0"
    depends_on:
      - celery
    restart: unless-stopped


volumes:
  media_file:
  static_files:
