version: '3'

services:
  web:
    build: .
    command: gunicorn a_core.wsgi:application --bind 0.0.0.0:9000
    volumes:
      - ./a_core:/app/a_core
      - media_file:/app/media
      - static_files:/app/staticfiles
    ports:
      - "9000:9000"
    depends_on:
      - db

  channels:
    build: .
    command: daphne -b 0.0.0.0 -p 8002 a_core.asgi:application
    volumes:
      - ./a_core:/app/a_core
    ports:
      - "8002:8002"
    depends_on:
      - redis

  db:
    image: postgres:16
    env_file:
      - .db.env

  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped

  nginx:
    build: ./nginx
    ports:
      - "80:80"

    volumes:
      - media_file:/app/media
      - static_files:/app/staticfiles
    depends_on:
      - web
      - channels

  celery:
    build: .
    command: celery -A a_core worker -l INFO
    environment:
      - BROKER_URL=redis://redis:6379/0
    restart: unless-stopped
    depends_on:
      - web
      - redis

  flower:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - BROKER_URL=redis://redis:6379/0
    ports:
      - '5555:5555'
    command: "celery -A a_core flower --address=0.0.0.0"
    depends_on:
      - celery
    restart: unless-stopped

volumes:
  media_file:
  static_files:
