<hero class="grid bg-gray-700 text-white text-center bg-cover z-10 relative bg-[url('https://cdna.artstation.com/p/assets/images/images/049/193/204/large/nick-heltne-highresscreenshot00239.jpg?1651900426')]">
    <div class="col-start-1 row-start-1 bg-gray-800 bg-opacity-40 w-full h-full"></div>
    <div class="col-start-1 row-start-1 py-24 px-10 ">
        <h1 class="font1 text-6xl title-fadein">Virtual</h1>
        <p class="text-lg font-bold mb-5">Share your favorite Photos from Flickr and add a great caption</p>
        {% if not user.is_authenticated %}
        <a class="button" href="{% url 'register' %}">Get Started</a>
        {% else %}
         <a class="button" href="{% url 'post-create' %}">Get Started</a>
        {% endif %}
    </div>
</hero>