name: Deploy via SSH
on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}        # The server you're connecting to
          username: ${{ secrets.SSH_USERNAME }} # Your SSH username
          key: ${{ secrets.SSH_PRIVATE_KEY }}   # Your private SSH key
          port: 22                             # Optional: default is 22
          script: |
            echo "Deploying to server..."

            # Build and start the Docker containers in detached mode
            echo "Building and starting the Docker containers..."
            docker-compose -f docker-compose-prod.yaml up -d --build

            # Run migrations in the 'web' container
            echo "Running migrations..."
            docker-compose -f docker-compose-prod.yaml exec web python manage.py migrate

            echo "Deployment successful!"
